@import url(../bootstrap-5.0.2-dist/css/bootstrap.min.css);
body {
  background-color: black;
  height: auto; }
  body footer {
    background-color: #080808;
    height: auto; }

div p {
  color: white;
  font-family: 'Khula', sans-serif;
  font-weight: bold;
  font-size: 15px;
  height: 2rem;
  text-align: center;
  background-color: #1e1e1e;
  margin-bottom: -0.5rem; }

header {
  color: white;
  font-family: 'Khula', sans-serif;
  font-size: 1.2rem;
  height: 7.5rem;
  text-align: center;
  background-color: #161616; }
  header nav .form-control4 {
    padding: 0.3rem;
    width: 42rem;
    margin-left: 18rem;
    position: absolute;
    background: #232323;
    border: none;
    color: white; }
    header nav .form-control4 .navbar {
      width: auto;
      background: #131313;
      color: white;
      height: 6.5rem;
      font-size: larger;
      text-align: center;
      text-decoration: none; }
  header nav p {
    margin-top: 1rem;
    position: absolute; }
  header nav button {
    position: relative;
    border: none;
    outline: none;
    margin-right: 8.5rem;
    background: transparent; }

body {
  height: 30rem; }
  body main {
    height: 20rem;
    position: relative; }
    body main div .flexBoxguide {
      position: relative;
      display: flex;
      justify-content: center;
      background-color: black;
      margin: 0 auto;
      width: 50%;
      align-items: center; }
      body main div .flexBoxguide p .khulaGuide {
        color: white;
        font-family: 'Khula', sans-serif;
        font-size: large; }

footer div {
  display: grid;
  grid-template-columns: repeat(5, 4rem);
  grid-template-rows: repeat(5, 4rem);
  justify-content: space-evenly;
  padding-top: 3rem;
  margin-bottom: auto;
  gap: 3rem;
  margin-left: 20rem;
  margin-right: 50rem;
  color: white;
  height: 4rem;
  background-color: #141414; }
  footer div p {
    width: 40rem; }

.card-a520mgigabyte {
  background-image: url("../img/imagenes/componente.png"); }

.card-a520mgigabyte {
  background-image: url("../img/imagenes/a520mgigabyte.png"); }
