@mixin flexBoxGuide($position, $display, $justify-content,$background-color,$margin,$width,$align-items,$color,$height) {
    position: $position;
    display: $display;
    justify-content: $justify-content;
    background-color: $background-color;
    margin: $margin;
    width: $width;
    align-items: $align-items;
    color: $color;
    height: $height;
}

