footer {
  position: static;
  bottom: 0;
  right: 0;
  left: 0;
  height: 23rem;
  div {
  display: grid;
  grid-template-columns: repeat(5,5rem);
  grid-template-rows: repeat(1,5rem);
  padding-top: 0.5rem;
  grid-gap: 4rem;    
  color: white;
  margin-left: 20rem;
  p{
    display:inline-block;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0 0px 20px rgba(0, 0, 0, 0.753);
    font-style: italic;
    color: white;
    margin-top: 10rem;
    position:relative; 
    top:0.6rem;  
    left: -0.5rem;
    }
  }
}

