div {
  color: white;
}
header {
    color: white;
    font-family: 'Khula', sans-serif;
    font-size: 1.2rem;
    height: 7.5rem;
    text-align: center;
    background-color: rgb(19, 19, 19); 
    margin-top: -1rem;
    p {
      display:inline-block;
      font-weight: bold;
      font-size: 2rem;
      text-shadow: 0 0px 20px rgba(0, 0, 0, 0.753);
      font-style: italic;
      color: white;
      position:relative; 
      top:-0.3rem;  
      
    }
    nav {
    .form-control4{
  padding: 0.3rem;
  width: 42rem;
  margin-left: 18rem;
  position: absolute;
  background: rgb(35, 35, 35);
  border: none;
  color: white;

  .navbar {
    width: auto;
    background: rgb(19, 19, 19);
    color: white;
    height: 6.5rem;
    font-size: larger;
    text-align: center;
    text-decoration: none;
  }
  
}
        p {
            margin-top: 1rem;
            position: absolute;
            
        } 
    button {
            position:relative;
            border: none;
            outline: none;
            margin-right: 8.5rem;
            background: transparent;
          }

        }
    }
