body {
    height: 30rem;
main {
    height: 20rem;
    position: relative;
div {
    .flexBoxguide {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0 auto;
    width: 50%;
    align-items: center;
    p {
        .khulaGuide {
        color: white;
        font-family: 'Khula', sans-serif;
        font-size: large;
    }
}
    }
}
}
}